.html, body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.container {
  width: 100vw;
  height: 94.5vh;
  background: #47759E;
}

.container .error-box {
  position: absolute;
  top: 27vh;
  left: 43vw;
  width: 14vw;
  min-width: 250px;
  max-width: 500px;
  background: #FF6E2D;
  border-radius: 7px;
}

.container .error-box h4 {
  font-family: 'Comfortaa';
  color: white;
}

.container .top {
  padding-top: 17vh;
}

.container .top h1 {
  font-family: "Merriweather Sans";
  color: white;
  font-size: 50px;
  text-align: center;
}

.container img {
  height: 55vh;
  margin-top: 10vh;
  border: 5px solid white;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-top: 3px solid white;
}

.info-wrapper {
  width: 100vw;
  height: 45vh;
  background: white;
  transform: translateZ(-1px);
}

.info-wrapper .moreinfo {
  margin-top: -0.5vh;
  padding-top: 0.45vh;
  text-align: center;
  color: #FF6E2D;
  font-size: 27px;
  font-family: "Merriweather Sans";
}

.info-wrapper div {
  float: left;
  height: 60%;
  margin-top: 3.5%;
  width: 30vw;
  margin-left: 2.5vw;
}

.info-wrapper div h1 {
  text-align: left;
  color: #20B87F;
  font-size: 37px;
  font-family: "Merriweather Sans";
}

.info-wrapper div p {
  width: 25vw;
  font-family: 'Comfortaa';
  font-size: 18px;
  margin-top: -15px;
}

.info-wrapper img {
  width: auto;
  height: 60%;
  margin-top: 5%;
  float: left;
}

.parallax {
  width: 100vw;
  height: 50vh;
  background: transparent;
}
