.title {
  color: white;
  font-family: s, sans-serif;
  font-size: 45px;
  padding-bottom: 0px;
}

.foot {
  color: white;
  font-size: 15.5px;
  margin-top: 15px;
  font-family: Comfortaa, sans-serif;
}

.select {
  min-width: 125px;
  padding: 6px;
  border-radius: 5px;
  margin-top: 3px;
  float: right;
}

.smoltitle {
  color: white;
  font-family: Comfortaa, sans-serif;
  margin-top: 0px;
  text-align: left;
}
