/* line 13, /Users/rogerjanusiak/Desktop/Project Tevatron/Dashboard/SASS/dashboard.scss */
body {
  margin: 0;
  overflow: hidden;
}

/* line 18, /Users/rogerjanusiak/Desktop/Project Tevatron/Dashboard/SASS/dashboard.scss */
nav {
  position: fixed;
  width: 100vw;
  height: 60px;
  background: #47759E;
  border-bottom: solid 2px #0B5AA2;
  margin: 0px;
  padding: 0px;
}

/* line 27, /Users/rogerjanusiak/Desktop/Project Tevatron/Dashboard/SASS/dashboard.scss */
nav h2 {
  font-size: 22px;
  display: block;
  padding: 7px 15px;
  color: white;
  text-decoration: none;
  font-weight: normal;
  font-family: "Merriweather Sans";
}

/* line 37, /Users/rogerjanusiak/Desktop/Project Tevatron/Dashboard/SASS/dashboard.scss */
nav ul {
  text-align: center;
  color: #FF6E2D;
}

/* line 39, /Users/rogerjanusiak/Desktop/Project Tevatron/Dashboard/SASS/dashboard.scss */
nav ul li ul.fallback {
  display: none;
}

/* line 40, /Users/rogerjanusiak/Desktop/Project Tevatron/Dashboard/SASS/dashboard.scss */
nav ul li:hover ul.fallback {
  display: block;
}

/* line 45, /Users/rogerjanusiak/Desktop/Project Tevatron/Dashboard/SASS/dashboard.scss */
nav ul li {
  float: left;
  display: inline;
  font-family: "Merriweather Sans";
}

/* line 51, /Users/rogerjanusiak/Desktop/Project Tevatron/Dashboard/SASS/dashboard.scss */
nav ul li:hover {
  background: #71A5D4;
  border-radius: 5px;
}

/* line 56, /Users/rogerjanusiak/Desktop/Project Tevatron/Dashboard/SASS/dashboard.scss */
nav ul li a {
  font-size: 22px;
  display: block;
  padding: 7px 15px;
  color: white;
  text-decoration: none;
  font-weight: normal;
}

/* line 67, /Users/rogerjanusiak/Desktop/Project Tevatron/Dashboard/SASS/dashboard.scss */
nav ul li ul {
  position: absolute;
  width: 150px;
  background: #FFF;
  padding: 0px;
  border-radius: 5px;
}

/* line 75, /Users/rogerjanusiak/Desktop/Project Tevatron/Dashboard/SASS/dashboard.scss */
nav ul li ul li {
  width: 150px;
}

/* line 79, /Users/rogerjanusiak/Desktop/Project Tevatron/Dashboard/SASS/dashboard.scss */
nav ul li ul li a {
  display: block;
  padding: 15px 10px;
  color: #444;
  font-size: 15px;
  font-weight: normal;
  font-family: 'Comfortaa';
}

/* line 80, /Users/rogerjanusiak/Desktop/Project Tevatron/Dashboard/SASS/dashboard.scss */
nav ul li ul li a:hover {
  background: #F7F7F7;
}

/* line 93, /Users/rogerjanusiak/Desktop/Project Tevatron/Dashboard/SASS/dashboard.scss */
.sidebar {
  position: fixed;
  float: left;
  width: 55px;
  height: -moz-calc(100vh - 60px);
  height: -webkit-calc(100vh - 60px);
  height: -o-calc(100vh - 60px);
  height: calc(100vh - 60px);
  background: #20B87F;
  margin-top: 43px;
  z-index: 10;
}

/* line 106, /Users/rogerjanusiak/Desktop/Project Tevatron/Dashboard/SASS/dashboard.scss */
.sidebar .sidebar-icon {
  width: 53px;
  height: 55px;
  background: #20B87F;
  margin: 0px;
  border: 1px inset #6BD8AF;
}

/* line 113, /Users/rogerjanusiak/Desktop/Project Tevatron/Dashboard/SASS/dashboard.scss */
.sidebar .sidebar-icon img {
  width: 38px;
  height: 38px;
}

/* line 120, /Users/rogerjanusiak/Desktop/Project Tevatron/Dashboard/SASS/dashboard.scss */
.sidebar .sidebar-label {
  display: none;
  float: right;
  width: 193px;
  height: 55px;
  background: #20B87F;
  margin-top: -57px;
  border: 1px inset #6BD8AF;
}

/* line 129, /Users/rogerjanusiak/Desktop/Project Tevatron/Dashboard/SASS/dashboard.scss */
.sidebar .sidebar-label p {
  font-size: 20px;
  color: white;
  font-family: "Merriweather Sans";
  margin-top: 15px;
  margin-left: 15px;
}

/* line 141, /Users/rogerjanusiak/Desktop/Project Tevatron/Dashboard/SASS/dashboard.scss */
.dash {
  margin-top: 60px;
  padding-top: 0px;
  height: -moz-calc(100vh - 60px);
  height: -webkit-calc(100vh - 60px);
  height: -o-calc(100vh - 60px);
  height: calc(100vh - 60px);
  width: 1500px;
  z-index: 5;
}

/* line 153, /Users/rogerjanusiak/Desktop/Project Tevatron/Dashboard/SASS/dashboard.scss */
.dash .widget {
  position: absolute;
  margin: 0px;
}

/* line 158, /Users/rogerjanusiak/Desktop/Project Tevatron/Dashboard/SASS/dashboard.scss */
.dash .widget .head {
  width: 100%;
  height: 50px;
  background: #FFA82D;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* line 165, /Users/rogerjanusiak/Desktop/Project Tevatron/Dashboard/SASS/dashboard.scss */
.dash .widget .head p {
  color: white;
  font-family: "Merriweather Sans";
  font-size: 23px;
  padding-top: 8px;
}

/* line 174, /Users/rogerjanusiak/Desktop/Project Tevatron/Dashboard/SASS/dashboard.scss */
.dash .widget .body {
  width: 100%;
  background: #E5E5E5;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* line 184, /Users/rogerjanusiak/Desktop/Project Tevatron/Dashboard/SASS/dashboard.scss */
.dash .widget .body table tr:nth-child(odd) {
  background-color: #fff;
}

/* line 188, /Users/rogerjanusiak/Desktop/Project Tevatron/Dashboard/SASS/dashboard.scss */
.dash .widget .body table tr:nth-child(even) {
  background-color: #eee;
}

/* line 193, /Users/rogerjanusiak/Desktop/Project Tevatron/Dashboard/SASS/dashboard.scss */
.dash .widget .body table tr td {
  min-width: 50px;
  max-width: 50px;
  padding: 5px;
  margin: 0px;
}

/* line 199, /Users/rogerjanusiak/Desktop/Project Tevatron/Dashboard/SASS/dashboard.scss */
.dash .widget .body table tr th {
  min-width: 50px;
  max-width: 50px;
  padding: 5px;
  margin: 0px;
}

/* line 207, /Users/rogerjanusiak/Desktop/Project Tevatron/Dashboard/SASS/dashboard.scss */
.dash .widget .body table .wide {
  min-width: 150px;
  max-width: 150px;
}

/* line 214, /Users/rogerjanusiak/Desktop/Project Tevatron/Dashboard/SASS/dashboard.scss */
.dash .widget .body p {
  margin: 0px;
  padding-top: 10px;
  font-family: 'Comfortaa', sans-serif;
  font-size: 20px;
}

/* line 221, /Users/rogerjanusiak/Desktop/Project Tevatron/Dashboard/SASS/dashboard.scss */
.dash .widget .body h1 {
  width: 125px;
  float: left;
  margin-top: 0px;
  color: #FA4E00;
  font-family: "Merriweather Sans";
}

/* line 229, /Users/rogerjanusiak/Desktop/Project Tevatron/Dashboard/SASS/dashboard.scss */
.dash .widget .body h2 {
  width: 200px;
  margin-left: 25px;
  float: left;
  text-align: right;
  margin-top: 3px;
  margin-bottom: 0px;
  font-family: "Merriweather Sans";
  font-weight: normal;
}

/* line 246, /Users/rogerjanusiak/Desktop/Project Tevatron/Dashboard/SASS/dashboard.scss */
::-webkit-scrollbar {
  width: 12px;
}

/* line 250, /Users/rogerjanusiak/Desktop/Project Tevatron/Dashboard/SASS/dashboard.scss */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

/* line 255, /Users/rogerjanusiak/Desktop/Project Tevatron/Dashboard/SASS/dashboard.scss */
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/* line 260, /Users/rogerjanusiak/Desktop/Project Tevatron/Dashboard/SASS/dashboard.scss */
.column {
  width: -moz-calc(25vw - 5px);
  width: -webkit-calc(25vw - 5px);
  width: -o-calc(25vw - 5px);
  width: calc(25vw - 5px);
  height: 100vh;
  float: left;
  border-right: solid 5px #20B87F;
}

/* line 269, /Users/rogerjanusiak/Desktop/Project Tevatron/Dashboard/SASS/dashboard.scss */
.column h1 {
  margin-top: 80px;
  font-family: "Merriweather Sans";
  margin-left: 35px;
  font-size: 30px;
}

/* line 276, /Users/rogerjanusiak/Desktop/Project Tevatron/Dashboard/SASS/dashboard.scss */
.column #preview-content {
  display: none;
}

/* line 280, /Users/rogerjanusiak/Desktop/Project Tevatron/Dashboard/SASS/dashboard.scss */
.column p {
  font-family: 'Comfortaa', sans-serif;
  font-size: 20px;
  float: left;
  margin-top: 0px;
  padding: 0px;
  margin: 0px;
}

/* line 289, /Users/rogerjanusiak/Desktop/Project Tevatron/Dashboard/SASS/dashboard.scss */
.column hr {
  width: 100%;
  background-color: #ece8e0;
  border: 0;
  height: 2px;
}

/* line 296, /Users/rogerjanusiak/Desktop/Project Tevatron/Dashboard/SASS/dashboard.scss */
.column img {
  margin-top: 10px;
  width: 80%;
  margin-left: 10%;
  border-radius: 5px;
}

/* line 303, /Users/rogerjanusiak/Desktop/Project Tevatron/Dashboard/SASS/dashboard.scss */
.column h2 {
  text-align: center;
  font-family: "Merriweather Sans";
  margin-top: 30px;
}

/* line 310, /Users/rogerjanusiak/Desktop/Project Tevatron/Dashboard/SASS/dashboard.scss */
.column center input {
  margin-top: 30px;
  width: 220px;
}

/* line 316, /Users/rogerjanusiak/Desktop/Project Tevatron/Dashboard/SASS/dashboard.scss */
.column div {
  width: 90%;
  height: 30px;
  margin-left: 10%;
  padding-bottom: 0px;
  margin-top: 15px;
}

/* line 323, /Users/rogerjanusiak/Desktop/Project Tevatron/Dashboard/SASS/dashboard.scss */
.column div .name {
  width: 90%;
}

/* line 327, /Users/rogerjanusiak/Desktop/Project Tevatron/Dashboard/SASS/dashboard.scss */
.column div .arrow {
  width: 10%;
}

/* line 336, /Users/rogerjanusiak/Desktop/Project Tevatron/Dashboard/SASS/dashboard.scss */
.darken {
  width: 100vw;
  height: 100vh;
  position: absolute;
  opacity: 0.7;
  background: black;
  display: none;
}

/* line 344, /Users/rogerjanusiak/Desktop/Project Tevatron/Dashboard/SASS/dashboard.scss */
.addWindow {
  display: none;
  position: absolute;
  width: 17vw;
  height: 45vh;
  margin-left: 41.5vw;
  margin-top: 27.5vh;
  background: white;
  border-radius: 5px;
  border: solid 1px black;
}

/* line 355, /Users/rogerjanusiak/Desktop/Project Tevatron/Dashboard/SASS/dashboard.scss */
.addWindow h2 {
  text-align: center;
  font-family: "Merriweather Sans";
}

/* line 359, /Users/rogerjanusiak/Desktop/Project Tevatron/Dashboard/SASS/dashboard.scss */
.addWindow h3 {
  text-align: center;
  font-family: "Merriweather Sans";
}

/* line 363, /Users/rogerjanusiak/Desktop/Project Tevatron/Dashboard/SASS/dashboard.scss */
.addWindow .addByteInput {
  border: 0.5px solid #20B87F;
  padding: 5px;
  border-radius: 5px;
}

/*# sourceMappingURL=../CSS/dashboard.map */