$full-width: 100vw;
$wrapper-height: 45vh;
$image-height: 50vh;
$navbar-height: 70px;

$color-green: #20B87F;
$color-red: #FF6E2D;
$color-orange:#FFA82D;
$color-teal: #47759E;

$font: 'Merriweather Sans';

.html, body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}


.container {
	width: $full-width;
    height: 94.5vh;
    background: $color-teal;

    .error-box {

        position: absolute;
        top:27vh;
        left: 43vw;

        width: 14vw;
        min-width:250px;
        max-width: 500px;
        background: #FF6E2D;

        border-radius: 7px;

        h4 {

            font-family: 'Comfortaa';
            color: white;

        }

    }

    .top {
        padding-top: 17vh;

        h1 {
            font-family: $font;
            color: white;
            font-size:50px;
            text-align: center;
        }

    }

    img {
        height: 55vh;
        margin-top: 66vh - 56vh;
        border: 5px solid white;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        border-top: 3px solid white;
    }

}
.info-wrapper {
    width: $full-width;
    height: $wrapper-height;
    background: white;
    transform: translateZ(-1px);

    .moreinfo {
        margin-top:-0.5vh;
        padding-top:0.45vh;
        text-align: center;
        color: $color-red;
        font-size: 27px;
        font-family: $font;
    }

    div {

        float: left;
        height: 60%;
        margin-top: 3.5%;
        width: 30vw;
        margin-left:2.5vw;

        h1 {
            text-align:left;
            color: $color-green;
            font-size: 37px;
            font-family: $font;
        }  

        p {
             width: 25vw;
             font-family: 'Comfortaa';
             font-size: 18px;
             margin-top: -15px;
        }
         
    }

    img {
        width: auto;
        height: 60%;
        margin-top: 5%;
        
        float: left;
    }

}
.parallax {
    width: $full-width;
    height: $image-height;
    background: transparent;
}