$full-width: 100vw;
$wrapper-height: 45vh;
$image-height: 50vh;
$navbar-height: 70px;

$color-green: #20B87F;
$color-red: #FF6E2D;
$color-orange:#FFA82D;
$color-teal: #47759E;

$font: 'Merriweather Sans';
.navbar {
    height: $navbar-height;
    width: $full-width;
    position:fixed;
    top:0px;
    background: white;
    z-index: 2;
    border-bottom: 2px solid $color-teal;

    h1 {
        font-family: $font;
        color: $color-green;
        margin-top: 4px;
        font-size:45px;
        text-align: center;
    }

    ul {

        position: absolute;

        li ul.fallback {display:none;}
        li:hover ul.fallback {display:block;}

        text-align:center;
        color: #FF6E2D;

        #teacherDrop {
            margin-left: 15vw;
            margin-top: -10px;
        }

        #studentDrop {
            margin-left: 75vw;
            margin-top: -100px;
        }

        li {

            float:left;
            display:inline;
            font-family: $font;

            &:hover {
                background:#E6E6E6;
                border-radius: 5px;
            }

            a {

                font-size: 23px;
                display:block;
                padding:15px 25px;
                color:$color-red;
                text-decoration: none;
                font-weight: bold;

            }

            ul {
                
                position:absolute;
                width:150px;
                background:#FFF;
                padding: 0px;
                border-radius: 5px;

                li {
                    
                    width:150px;
                    
                    a {display:block;padding:15px 10px;color:#444;font-size: 15px;font-weight: normal;font-family: 'Comfortaa';
                       &:hover {background:#F7F7F7;}
                    }

                }

            }

        }

    }

}

.footer {
    width: $full-width;
    height: 200px;
    background: $color-teal;

    #qoute {
        color: white;
        font-family: $font;
        float: left;
        margin-left: 7.5vw;
        font-size: 40px;
    }

    .txt {
        padding: 6px;
        width: 10vw;
        border-radius: 7px;
        margin-top: 90px;
        margin-left: -21.5vw;
        float: left;
    }

    .btn {

        margin-top: 90px;
        margin-left: -9.85vw;
        float: left;
        height: 32px;
        width: 6vw;
        min-width: 110px;
    
        background: $color-green;
        color: white;
        border: 0;
        border-radius: 10px;
        text-decoration: none;

        &:hover {
    
            background: #29A3CC;
            border: 1px solid #307287;
            border-radius: 10px;

        }
    
    }


    div {
        width: 150px;
        margin-left:8vw;
        margin-top: 20px;
        height:auto;
        float:left;

        h1 {
            color: $color-orange;
            font-family: $font;
            font-size: 18px;
        }

        p {
            padding: 1px;
            margin: 0px;
            margin-left: 0.5vw;
            color: white;

            &:hover {
                text-decoration: underline;
            }


        }

    }
}