/* line 15, /Users/rogerjanusiak/Desktop/Project Tevatron/Byte/Sass/byte-2.scss */
body {
  margin: 0;
}

/* line 19, /Users/rogerjanusiak/Desktop/Project Tevatron/Byte/Sass/byte-2.scss */
nav {
  width: 100vw;
  height: 60px;
  background: #47759E;
  border-bottom: solid 2px #0B5AA2;
  margin: 0px;
  padding: 0px;
}

/* line 27, /Users/rogerjanusiak/Desktop/Project Tevatron/Byte/Sass/byte-2.scss */
nav h2 {
  font-size: 22px;
  display: block;
  padding: 7px 15px;
  color: white;
  text-decoration: none;
  font-weight: normal;
  font-family: "Merriweather Sans";
}

/* line 37, /Users/rogerjanusiak/Desktop/Project Tevatron/Byte/Sass/byte-2.scss */
nav #dropDown {
  float: right;
  margin-right: 5vw;
  margin-top: 10px;
}

/* line 43, /Users/rogerjanusiak/Desktop/Project Tevatron/Byte/Sass/byte-2.scss */
nav ul {
  text-align: center;
  color: #FF6E2D;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* line 45, /Users/rogerjanusiak/Desktop/Project Tevatron/Byte/Sass/byte-2.scss */
nav ul li ul.fallback {
  display: none;
}

/* line 46, /Users/rogerjanusiak/Desktop/Project Tevatron/Byte/Sass/byte-2.scss */
nav ul li:hover ul.fallback {
  display: block;
}

/* line 53, /Users/rogerjanusiak/Desktop/Project Tevatron/Byte/Sass/byte-2.scss */
nav ul li {
  display: inline;
  font-family: "Merriweather Sans";
}

/* line 59, /Users/rogerjanusiak/Desktop/Project Tevatron/Byte/Sass/byte-2.scss */
nav ul li:hover {
  background: #71A5D4;
  border-radius: 5px;
}

/* line 63, /Users/rogerjanusiak/Desktop/Project Tevatron/Byte/Sass/byte-2.scss */
nav ul li a {
  font-size: 22px;
  display: block;
  padding: 7px 15px;
  color: white;
  text-decoration: none;
  font-weight: normal;
}

/* line 74, /Users/rogerjanusiak/Desktop/Project Tevatron/Byte/Sass/byte-2.scss */
nav ul li ul {
  position: absolute;
  width: 150px;
  background: #FFF;
  padding: 0px;
  border-radius: 5px;
}

/* line 82, /Users/rogerjanusiak/Desktop/Project Tevatron/Byte/Sass/byte-2.scss */
nav ul li ul li {
  width: 150px;
}

/* line 86, /Users/rogerjanusiak/Desktop/Project Tevatron/Byte/Sass/byte-2.scss */
nav ul li ul li a {
  display: block;
  padding: 15px 10px;
  color: #444;
  font-size: 15px;
  font-weight: normal;
  font-family: 'Comfortaa';
}

/* line 87, /Users/rogerjanusiak/Desktop/Project Tevatron/Byte/Sass/byte-2.scss */
nav ul li ul li a:hover {
  background: #F7F7F7;
}

/* line 100, /Users/rogerjanusiak/Desktop/Project Tevatron/Byte/Sass/byte-2.scss */
.container {
  width: 100vw;
  height: -moz-calc(100vh - 60px);
  height: -webkit-calc(100vh - 60px);
  height: -o-calc(100vh - 60px);
  height: calc(100vh - 60px);
  background: #47759E;
}

/* line 110, /Users/rogerjanusiak/Desktop/Project Tevatron/Byte/Sass/byte-2.scss */
.container h1 {
  color: white;
  font-family: 'Comfortaa', sans-serif;
  font-weight: normal;
  font-size: 2.5em;
}

/* line 117, /Users/rogerjanusiak/Desktop/Project Tevatron/Byte/Sass/byte-2.scss */
.container .reason-wrapper {
  display: none;
  width: 350px;
  height: 100px;
  margin-left: 60vw;
}

/* line 123, /Users/rogerjanusiak/Desktop/Project Tevatron/Byte/Sass/byte-2.scss */
.container .reason-wrapper h2 {
  padding-top: 37px;
  display: none;
  margin: 0px;
  color: white;
  font-family: 'Comfortaa', sans-serif;
  font-weight: normal;
  font-size: 1.3em;
}

/* line 138, /Users/rogerjanusiak/Desktop/Project Tevatron/Byte/Sass/byte-2.scss */
.container .answer {
  display: none;
  margin-top: -85px;
  width: 30vw;
  height: 60px;
  border: solid 2px rgba(65, 198, 148, 0.8);
  border-radius: 10px;
  box-shadow: 0px 6px 0px #00A969;
  background: #20B87F;
}

/* line 152, /Users/rogerjanusiak/Desktop/Project Tevatron/Byte/Sass/byte-2.scss */
.container .answer h2 {
  color: white;
  font-family: 'Comfortaa', sans-serif;
  font-weight: normal;
}

/* line 162, /Users/rogerjanusiak/Desktop/Project Tevatron/Byte/Sass/byte-2.scss */
.container .small-button, .container .start, .container .next, .container .yellow {
  width: 18vw;
  height: 60px;
  border: solid 2px rgba(255, 184, 83, 0.9);
  border-radius: 10px;
  box-shadow: 0px 6px 0px #FA9200;
  background: #FFA82D;
}

/* line 171, /Users/rogerjanusiak/Desktop/Project Tevatron/Byte/Sass/byte-2.scss */
.container .small-button h2, .container .start h2, .container .next h2, .container .yellow h2 {
  color: white;
  font-family: 'Comfortaa', sans-serif;
  font-weight: normal;
}

/* line 178, /Users/rogerjanusiak/Desktop/Project Tevatron/Byte/Sass/byte-2.scss */
.container .start {
  margin-top: 25px;
}

/* line 185, /Users/rogerjanusiak/Desktop/Project Tevatron/Byte/Sass/byte-2.scss */
.container .next {
  display: none;
  margin-top: 30px;
  margin-left: 18vw;
}

/* line 195, /Users/rogerjanusiak/Desktop/Project Tevatron/Byte/Sass/byte-2.scss */
.container .yellow {
  display: none;
  margin-top: 25px;
}

/* line 204, /Users/rogerjanusiak/Desktop/Project Tevatron/Byte/Sass/byte-2.scss */
.container center {
  margin-top: vh;
}

/* line 210, /Users/rogerjanusiak/Desktop/Project Tevatron/Byte/Sass/byte-2.scss */
.single-input {
  display: none;
  width: 50%;
  height: 22px;
  min-width: 150px;
  max-width: 250px;
  padding: 11px 10px 11px 13px;
  margin-top: -10px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 0;
}

/* line 229, /Users/rogerjanusiak/Desktop/Project Tevatron/Byte/Sass/byte-2.scss */
.check {
  display: none;
  float: left;
  width: 200px;
  margin-left: 25px;
  margin-top: 0px;
  height: 60px;
  border-radius: 10px;
  border: solid 2px rgba(65, 198, 148, 0.8);
  box-shadow: 0px 6px 0px #00A969;
  background: #20B87F;
}

/* line 242, /Users/rogerjanusiak/Desktop/Project Tevatron/Byte/Sass/byte-2.scss */
.check h2 {
  color: white;
  font-family: 'Comfortaa', sans-serif;
  font-weight: normal;
}

/*# sourceMappingURL=../CSS/byte-2.map */